.mainPage__menu {
    border: 3px solid white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: white;
}

body {
    background-color: blueviolet;
}


.mainPage__contentContainer {
    margin-top: 20px;
    color: white;
    border: 4px solid white;
    border-radius: 10px;
    height: 100%;
    width: auto;
    font-size: 25px;
}
